.vs
.vscode
[Oo]bj/
[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.suo
*.userprefs
*DS_Store
*.sln.ide
/.sonarqube
/.scannerwork
/src/.sonarqube/conf
/runsonarqube.bat
/runcmd.bat
/src/scrubfu.cli/Properties/PublishProfiles
*.opencover.xml
/Coverlet.txt